# Python
backend-fastapi/.venv/
__pycache__/
*.pyc

# Node
frontend_react/node_modules/
frontend_react/dist/

# Environment variables
.env
*.env
.env.*.local
.env.local

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
